* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  padding-bottom: 100px; }

a {
  color: black;
  text-decoration: none; }

th, td {
  border: 1px solid #ddd;
  padding: .375rem;
  text-align: center; }

.button {
  background-color: #0066ff;
  border: 2px solid #0066ff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  padding: .6rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  white-space: nowrap; }
  .button:hover {
    background-color: #3385ff; }
  .button--secondary {
    background-color: transparent;
    color: #0066ff; }
    .button--secondary:hover {
      background-color: #3385ff;
      color: white; }
  .button--danger {
    background-color: #ff1a1a;
    border: 1px solid #ff1a1a; }
    .button--danger:hover {
      background-color: #fd4545; }

.form__group {
  margin-bottom: 10px; }

.form__label {
  color: #333333;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 6px;
  width: 100%; }

.form__input {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #333333;
  font-size: 1.2rem;
  height: 2.5rem;
  outline-color: #ccc;
  padding-left: 5px;
  width: 100%; }
  .form__input:focus {
    outline-color: #0066ff; }
  .form__input::placeholder {
    color: #d3d3d3; }

.form__file {
  font-size: 1.2rem;
  width: 100%; }

.form__text-area {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #333333;
  font-size: 1.2rem;
  outline-color: #ccc;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%; }
  .form__text-area:focus {
    outline-color: #0066ff; }

.form__select {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #333333;
  font-size: 1.2rem;
  height: 7.5rem;
  outline-color: #ccc;
  padding-left: 5px;
  width: 100%; }
  .form__select:focus {
    outline-color: #0066ff; }

.form__checkbox {
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333333;
  font-size: 1.2rem;
  height: 2rem;
  margin-left: 0;
  outline-color: #ccc;
  padding-left: 5px;
  width: 5%; }

.form__helper {
  color: #ccc;
  font-size: .8rem;
  margin-top: .3rem; }

.alert {
  border-radius: 5px;
  font-size: 1.0rem;
  margin-bottom: 1.0rem;
  padding: 0.8rem 1.6rem;
  text-align: center; }
  .alert li:not(:last-child) {
    margin-bottom: 3px; }
  .alert--success {
    background-color: #c2efc2;
    color: #198754; }
  .alert--error {
    background-color: #ffcccc;
    color: #ff1a1a;
    text-align: left; }

.pagination {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px; }
  .pagination__item {
    border: 1px solid #ddd;
    color: #333333;
    padding: .3125rem .625rem;
    transition: .5s; }
    .pagination__item:hover {
      background-color: #ddd; }
  .pagination__item:first-child {
    border-radius: 5px 0 0 5px; }
  .pagination__item:last-child {
    border-radius: 0 5px 5px 0; }
  .pagination__item--active {
    background-color: #0066ff;
    color: white; }
    .pagination__item--active:hover {
      background-color: #0066ff;
      color: white; }

.table {
  border-collapse: collapse;
  margin-top: 25px;
  width: 100%; }
  .table__header {
    background: #f3f3f3;
    color: black;
    font-weight: bold; }
  .table__data {
    color: #333333;
    padding: .5rem .75rem; }
  .table__button {
    color: #0066ff;
    margin-right: 0.25rem;
    text-decoration: underline; }
    .table__button:hover {
      color: #0052cc; }
  .table__img {
    height: 100px; }
  .table--striped tr:nth-child(even) {
    background-color: #f3f3f3; }

@media (max-width: 768px) {
  .table__head {
    display: none; }
  .table__data {
    border: 1px solid #ddd;
    display: block;
    padding-left: 50%;
    position: relative;
    text-align: left; }
    .table__data:before {
      align-items: center;
      content: attr(data-header);
      display: flex;
      font-weight: bold;
      left: 0;
      height: 100%;
      margin-top: -.375rem;
      padding-left: .375rem;
      padding-right: 10px;
      position: absolute;
      white-space: nowrap;
      width: 45%; }
  .table__row {
    background-color: transparent !important;
    border: 1px solid #ddd;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px; } }

.footer {
  background-color: #f3f3f3;
  bottom: 0;
  position: fixed;
  width: 100%; }
  .footer__text {
    padding: 1.5rem;
    text-align: center; }

.header {
  background-color: #f3f3f3;
  display: flex;
  height: 80px;
  margin-bottom: 30px; }
  .header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 100%; }
    @media (min-width: 1024px) {
      .header__container {
        margin: 0 auto;
        max-width: 1200px;
        width: 80%; } }
  .header__logo {
    font-family: 'Ramaraja';
    line-height: 2rem;
    padding-top: .375rem; }
  .header__user-area {
    align-items: center;
    display: flex; }
  .header__icon {
    font-size: 1.5rem;
    margin-right: .375rem; }
  .header__logout {
    margin-left: 10px;
    text-decoration: underline; }

.main__container {
  margin: 16px 20px; }
  @media (min-width: 1024px) {
    .main__container {
      margin: auto 10%; } }

.main__toolbar .button:not(:last-child) {
  margin-right: 0.5rem; }

.main__title {
  color: #333333;
  margin-bottom: 30px;
  margin-left: -1px;
  padding-top: .4rem; }
  @media (min-width: 1024px) {
    .main__title {
      padding-top: 1rem; } }

.login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 16px;
  width: 100vw; }

.login__box {
  max-width: 420px;
  width: 100%; }

.login__logo {
  font-family: 'Ramaraja';
  font-size: 3.5rem;
  text-align: center; }

.login__button {
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: .5rem .75rem;
  width: 100%; }

.login__text {
  color: #333333;
  font-size: 1.1rem;
  margin-top: 20px;
  text-align: center; }

.login__link {
  color: #0066ff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: .3s; }
  .login__link:hover {
    text-decoration: underline; }
