
@media(max-width: 768px) {

    .table__data, .table__title {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
        }

        .table, .table__head, .table__body, .table__title, .table__data, .table__row {
            display: block;
        }

        .table__head .table__row {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .table__row { border: 1px solid black; }
    .table__data {
        border: none;
        border-bottom: 1px solid black;
        position: relative;
        padding-left: 50%;
    }

    .table__data:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table__data:nth-of-type(1):before { content: ""; }
    .table__data:nth-of-type(2):before { content: "Capa"; }
    .table__data:nth-of-type(3):before { content: "Título"; }
    .table__data:nth-of-type(4):before { content: "Autor"; }
    .table__data:nth-of-type(5):before { content: "Gênero"; }
    .table__data:nth-of-type(6):before { content: "Editora"; }
    .table__data:nth-of-type(7):before { content: "Número de Páginas"; }
    .table__data:nth-of-type(8):before { content: "Ações"; }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
opacity: 1;
pointer-events: auto;
}

.modal > div {
width: 80%;
position: relative;
margin: 10% auto;
padding: 15px 20px;
background: #fff;
}

.remove__title {
    text-align: center;
}