@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #f3f3f3;
}

.header__logo {
  font-family: 'Ramaraja';
  padding-top: 16px;
  padding-left: 17px;
  display: inline-block;
}

.header__logo__link {
  color: black;
  text-decoration: none;
}

.header__user-area {
  float: right;
  padding-top: 21px;
  padding-right: 16px;
}

.header__icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 5px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header__text {
  display: inline-block;
  text-align: right;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__link {
  display: block;
  text-align: center;
  color: black;
  text-decoration: underline;
  -webkit-transform: translate(10px, -5px);
          transform: translate(10px, -5px);
}

.footer {
  background-color: #f3f3f3;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer__text {
  text-align: center;
  padding: 30px;
}

.button {
  background-color: #0066ff;
  border: 1px solid #0066ff;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
  padding: .5em 1.3em;
  color: white;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  white-space: nowrap;
}

.button:hover {
  background-color: #3385ff;
}

.button--remove {
  background-color: red;
  border: 1px solid red;
}

.button--remove:hover {
  background-color: #fd4545;
}

.button--secondary {
  color: #0066ff;
  background-color: transparent;
}

.button--secondary:hover {
  color: white;
  background-color: #0066ff;
}

.container {
  margin: 16px 20px 16px 20px;
}

.main__title {
  margin-bottom: 30px;
  margin-left: -1px;
  padding-top: 1em;
  color: #3b3b3b;
}

.form__group {
  margin-bottom: 10px;
}

.form__label {
  font-size: 1.2em;
  color: #3b3b3b;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  color: #3b3b3b;
  border: 1px solid #ccc;
  outline-color: #ccc;
  border-radius: 5px;
  height: 2em;
  padding-left: 5px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__input:focus {
  outline-color: #0066ff;
}

.form__input::-webkit-input-placeholder {
  color: #d3d3d3;
}

.form__input:-ms-input-placeholder {
  color: #d3d3d3;
}

.form__input::-ms-input-placeholder {
  color: #d3d3d3;
}

.form__input::placeholder {
  color: #d3d3d3;
}

.form__file {
  width: 100%;
  font-size: 1.2em;
}

.form__textArea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  color: #3b3b3b;
  border: 1px solid #ccc;
  outline-color: #ccc;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__textArea:focus {
  outline-color: #0066ff;
}

.form__select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  color: #3b3b3b;
  border: 1px solid #ccc;
  height: 2em;
  outline-color: #ccc;
  border-radius: 5px;
  padding-left: 5px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__select:focus {
  outline-color: #0066ff;
}

.form__checkbox {
  font-size: 1.2em;
  color: #3b3b3b;
  border: 1px solid #ccc;
  outline-color: #ccc;
  border-radius: 5px;
  height: 1.5em;
  padding-left: 5px;
  width: 5%;
  margin-left: 0;
}

.table {
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse;
}

.table__title {
  background: #f3f3f3;
  color: black;
  font-weight: bold;
}

.table__data, .table__title {
  padding: 6px;
  border: 1px solid #ddd;
  text-align: center;
  color: #3b3b3b;
}

.table__button {
  text-decoration: none;
  color: #3b3b3b;
}

@media (max-width: 768px) {
  .table__data, .table__title {
    padding: 6px;
    border: 1px solid #ddd;
    text-align: left;
  }
  .table, .table__head, .table__body, .table__title, .table__data, .table__row {
    display: block;
  }
  .table__head .table__row {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table__row {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .table__data {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }
  .table__data:nth-of-type(8) {
    border-bottom: 1px solid transparent;
  }
  .table__data:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table__data:nth-of-type(1):before {
    content: "";
  }
  .table__data:nth-of-type(2):before {
    content: "Capa:";
  }
  .table__data:nth-of-type(3):before {
    content: "Título:";
  }
  .table__data:nth-of-type(4):before {
    content: "Autor:";
  }
  .table__data:nth-of-type(5):before {
    content: "Gênero:";
  }
  .table__data:nth-of-type(6):before {
    content: "Editora:";
  }
  .table__data:nth-of-type(7):before {
    content: "Número de Páginas:";
  }
  .table__data:nth-of-type(8):before {
    content: "Ações:";
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.remove {
  border-top: 10px solid red;
  width: 80%;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}

.remove__icon {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 3em;
}

.remove__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
  color: #3b3b3b;
}

.remove__text {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
  color: #3b3b3b;
}

.remove__list {
  margin-bottom: 25px;
  list-style-type: none;
}

.remove__book {
  color: #3b3b3b;
  text-align: center;
}

.remove__book::before {
  content: "• ";
}

.modal__buton-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal__button {
  display: inline-block;
  font-size: 15px;
  width: 30%;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination__item {
  color: #3b3b3b;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
  -webkit-transition: .5s;
  transition: .5s;
}

.pagination__item:hover {
  background-color: #ddd;
}

.pagination__item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination__item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination__active {
  color: white;
  background-color: #0066ff;
}

.pagination__active:hover {
  color: white;
  background-color: #0066ff;
}

@media (min-width: 768px) {
  .form {
    width: 50%;
  }
  .container {
    margin: auto 10%;
  }
  .button {
    font-size: 20px;
  }
  .header__logo {
    font-family: 'Ramaraja';
    padding-top: 16px;
    padding-left: 10%;
    display: inline-block;
  }
  .header__user-area {
    padding-top: 21px;
    padding-right: 10%;
  }
  .footer {
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .footer__text {
    text-align: center;
    padding: 30px;
  }
  .remove {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */