.header {
    background-color: $grey-white-smoke;
}

.header__logo {
    display: inline-block;
    font-family: 'Ramaraja';
    padding-left: 17px;
    padding-top: 16px;
}

.header__logo__link {
    color: black;
    text-decoration: none;
}

.header__user-area {
    float: right;
    padding-right: 16px;
    padding-top: 21px;
}

.header__icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5px;
    transform: translateY(5px);
}

.header__username {
    display: inline-block;
    text-align: right;
    transform: translateY(-5px);

}

.header__logout {
    color: black;
    display: block;
    text-align: center;
    text-decoration: underline;
    transform: translate(10px, -5px);

}

@media (min-width: 768px) {
    .header__logo {
        display: inline-block;
        font-family: 'Ramaraja';
        padding-left: 10%;
        padding-top: 16px;
    }
    .header__user-area {
        padding-right: 10%;
        padding-top: 21px;
    }
}