.header {
    background-color: $grey-white-smoke;
    display: flex;
    height: 80px;

    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        width: 100%;

        @media (min-width: 1024px) {
            margin: 0 auto;
            max-width: 1200px;
            width: 80%;
        }
    }

    &__logo {
        font-family: 'Ramaraja';
        line-height: 2rem;
        padding-top: .375rem;
    }

    &__user-area {
        align-items: center;
        display: flex;
    }

    &__icon {
        font-size: 1.5rem;
        margin-right: .375rem;
    }

    &__logout {
        margin-left: 10px;
        text-decoration: underline;
    }
}