.main {
    &__container {
        margin: 16px 20px;

        @media (min-width: 1024px) {
            margin: auto 10%;
        }
    }

    &__title {
        color: $font-color;
        margin-bottom: 30px;
        margin-left: -1px;
        padding-top: .4rem;

        @media (min-width: 1024px) {
            padding-top: 1rem;
        }
    }
}