.button {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 5px;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
    padding: .6rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;

    &:hover {
        background-color: $secondary-color;
    }

    &--secondary {
        background-color: transparent;
        color: $primary-color;

        &:hover {
            background-color: $secondary-color;
            color: $color-white;
        }
    }

    &--danger {
        background-color: $primary-red;
        border: 1px solid $primary-red;

        &:hover {
            background-color: $tertiary-red;
        }
    }
}