.form {
    &__group {
        margin-bottom: 10px;
    }

    &__label {
        color: $font-color;
        display: block;
        font-size: $font-size;
        margin-bottom: 6px;
        width: 100%;
    }

    &__input {
        border-radius: 5px;
        border: 1px solid $grey-tertiary;
        box-sizing: border-box;
        color: $font-color;
        font-size: $font-size;
        height: 2.5rem;
        outline-color: $grey-tertiary;
        padding-left: 5px;
        width: 100%;

        &:focus {
            outline-color: $primary-color;
        }

        &::placeholder {
            color: #d3d3d3;
        }
    }

    &__file {
        font-size: $font-size;
        width: 100%;
    }

    &__text-area {
        border-radius: 5px;
        border: 1px solid $grey-tertiary;
        box-sizing: border-box;
        color: $font-color;
        font-size: $font-size;
        outline-color: $grey-tertiary;
        padding-left: 5px;
        padding-top: 5px;
        width: 100%;

        &:focus {
            outline-color: $primary-color;
        }
    }

    &__select {
        border-radius: 5px;
        border: 1px solid $grey-tertiary;
        box-sizing: border-box;
        color: $font-color;
        font-size: $font-size;
        height: 7.5rem;
        outline-color: $grey-tertiary;
        padding-left: 5px;
        width: 100%;

        &:focus {
            outline-color: $primary-color;
        }
    }

    &__checkbox {
        border-radius: 5px;
        border: 1px solid $grey-tertiary;
        color: $font-color;
        font-size: $font-size;
        height: 2rem;
        margin-left: 0;
        outline-color: $grey-tertiary;
        padding-left: 5px;
        width: 5%;
    }

    &__helper {
        color: $grey-tertiary;
        font-size: .8rem;
        margin-top: .3rem;
    }
}