.alert {
    border-radius: 5px;
    font-size: 1.0rem;
    margin-bottom: 1.0rem;
    padding: 0.8rem 1.6rem;
    text-align: center;

    & li:not(:last-child) {
        margin-bottom: 3px;
    }

    &--success {
        background-color: $color-green-secondary;
        color: $color-green;
    }

    &--error {
        background-color: $secondary-red;
        color: $primary-red;
        text-align: left;
    }
}