.modal {
    -moz-transition: opacity 400ms ease-in;
    -webkit-transition: opacity 400ms ease-in;
    background: rgba(0,0,0,0.8);
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    opacity:0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in;
    z-index: 99999;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.remove {
    background: #fff;
    border-top: 10px solid red;
    margin: 10% auto;
    padding: 15px 20px;
    position: relative;
    width: 80%;
}


.remove__icon {
    display: block;
    font-size: 3em;
    margin: 20px auto;
    text-align: center;
}
.remove__title {
    color: $font-color;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.remove__text {
    color: $font-color;
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: center;
}

.remove__list {
    list-style-type: none;
    margin-bottom: 25px;
}

.remove__book {
    color: $font-color;
    text-align: center;

    &::before { content: "• ";}

}

.modal__buton-container {
    display: flex;
    justify-content: space-around;
}

.modal__button {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    width: 30%;
}

@media (min-width: 768px) {
    .remove {
        width: 40%;
    }
}