.pagination {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;

    &__item {
        border: 1px solid $grey-secondary;
        color: $font-color;
        padding: .3125rem .625rem;
        transition: .5s;

        &:hover {
            background-color: $grey-secondary;
        }
    }

    &__item:first-child {
        border-radius: 5px 0 0 5px;
    }

    &__item:last-child {
        border-radius: 0 5px 5px 0;
    }

    &__item--active {
        background-color: $primary-color;
        color: $color-white;

        &:hover {
            background-color: $primary-color;
            color: $color-white;
        }
    }
}