.table {
    border-collapse: collapse;
    margin-top: 25px;
    width: 100%;

    &__header {
        background: $grey-white-smoke;
        color: $color-black;
        font-weight: bold;
    }

    &__data {
        color: $font-color;
        padding: .375rem;
    }

    &__button {
        color: $font-color;
        text-decoration: underline;
        transition: .3s;

        &:hover {
            color: $color-black;
        }
    }

    &__img {
        height: 100px;
    }

    &--striped {
        tr:nth-child(even) {
            background-color: $grey-white-smoke;
        }
    }
}

@media (max-width: 768px) {
    .table__head {
        display: none;
    }

    .table__data {
        border: 1px solid $grey-secondary;
        display: block;
        padding-left: 50%;
        position: relative;
        text-align: left;

        &:before {
            align-items: center;
            content: attr(data-header);
            display: flex;
            font-weight: bold;
            left: 0;
            height: 100%;
            margin-top: -.375rem;
            padding-left: .375rem;
            padding-right: 10px;
            position: absolute;
            white-space: nowrap;
            width: 45%;
        }
    }

    .table__row {
        background-color: transparent!important;
        border: 1px solid $grey-secondary;
        display: block;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}