* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    padding-bottom: 100px;
}

a {
    color: $color-black;
    text-decoration: none;
}

th, td {
    border: 1px solid $grey-secondary;
    padding: .375rem;
    text-align: center;
}