$primary-color: #0066ff;
$secondary-color: #3385ff;
$font-color: #3b3b3b;
$font-size: 1.2rem;
$grey-white-smoke: rgb(243, 243, 243);
$grey-secondary: #ddd;
$grey-tertiary: #ccc;
$primary-red: #ff1a1a;
$secondary-red: #ffcccc;
$tertiary-red: rgb(253, 69, 69);
$color-black: black;
$color-white: white;
$color-green: #198754;
$color-green-secondary: #c2efc2;